.header {
    display: flex;
    background-color: white;
    // background-color: rgb(49, 49, 49);
    border-bottom: 1px solid rgb(209, 209, 209);
    min-height: 3em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    .logo {
        max-width: 200px;
        max-width: 120px;
    }
}
