@import "~react-image-gallery/styles/scss/image-gallery.scss";

.BusinessDetail_MainContainer {
    // display: flex;
    width: 80%;
    height: 100%;

    i {
        color: #8e8787;
        font-size: 1.2em;

        &.fa-map-marker-alt {
            font-size: 1.6em;
            color: #FFB135;
        }
    }

    @media (max-width: 1300px) {
        width: 90%;
    }

    @media (max-width: 860px) {
        display: block;
        width: 100%;
        padding-top: 0;
        position: relative;
    }

    .title-container.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;

        @media (min-width: 860px) {
            display: none;
        }
    }

    .coverImage {
        width: 17em;
        height: auto;

        img {
            width: 100%;
            border-radius: 2em;
        }
    }

    .image-gallery-icon:hover {
        color: #FFB135 !important;
    }

    .image-gallery-image {
        min-height: 20em !important;
        max-height: 40em !important;
    }

    .image-gallery-content {
        margin: auto;
    }

    #map {
        height: 25em;
        position: relative;
        margin-top: 3em;
        >div {
            width: 100%;
            height: 100%;
        }

        .directions {
            position: absolute;
            width: 8em;
            height: 4em;
            background-color: white;
            bottom: 0;
            top: left;
            z-index: 2;
            display: flex;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                color: blue;
            }
        }

    }

    .mobile {
        @media (min-width: 860px) {
            display: none;
        }
    }

    .owner-options {
        padding-top: 1em;
        display: flex;
        justify-content: center;

        a {
            margin: 0 1em;
            @media(max-width:570px) {
                margin: .5em 0;
            }
        }

        @media(max-width:570px) {
            flex-direction: column;
            align-items: center;
        }
    }



    .address {
            margin-bottom: 2em;
            color: #797979;
            &:not(.mobile) {
                @media (max-width: 860px) {
                    display: none;
                }
            }
        }

    .cols {
        display: flex;
        padding-top: 3em;

        @media (max-width: 860px) {
            display: block;
            width: 100%;
            padding-top: 0;
            position: relative;
        }

    }
    .col1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        @media (max-width: 860px) {
            text-align: center;
            margin-bottom: 3em;
            width: fit-content;
            margin: auto;
            margin-bottom: 3em;
            margin-top: 1em;
        }

        .contactInfo_Container {
            padding-top: 1em;
            align-self: flex-start;

            @media (max-width: 860px) {
                padding: 0 em;
            }

            >p {
                display: flex;
                padding-right: 1em;
                margin: .5em 0;
                i {
                    margin: 0 .5em;
                }
            }
        }
    }

    .title {
        margin-right: 0.5em;
    }

    .col2 {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 2em;

        @media (max-width: 860px) {
            padding: 0;
        }

        .titleAndFavSection_Container {
            display: flex;
            align-items: center;
            position: relative;

            @media (max-width: 860px) {
                position: initial;
            }

            .title,.location-icon {
                @media (max-width: 860px) {
                    display: none;
                }
            }


            .titleIcons {
                display: flex;
                position: absolute;
                align-items: center;
                right: 0;

                @media (max-width: 860px) {
                    top: 0
                }

                .BusinessDetailLikeIcon {
                    max-width: 1em;
                    max-height: 1em;
                    margin-left:.5em ;

                }

                .BusinessDetailFavIcon {
                    max-width: 2em;
                    max-height: 2em;
                    margin-left:2em ;

                }
            }

        }

        .section_Container {
            list-style: none;
            padding-left: 0;
            margin-bottom: 3em;
            >li{
                margin-bottom: 1.5em;
                padding: 1em 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h2 {
                border-bottom: 1px solid #ddd;
                border-color: #ff9d00;
                margin-bottom: .3em;
                padding-bottom: .2em;
            }

            ul {
                list-style: none;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;

                >li {
                    background-color: #FFB135;
                    margin: .5em;
                    transition: background-color 0.3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: fit-content;
                    margin-right: 1em;
                    margin-left: 0;
                    border-radius: .3em;

                    a {
                        padding: 1em;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    h3,i {
                        color: black !important;
                        transition: color 0.3s ease;
                    }

                    i {
                        margin-right: 0.5em;
                        font-size: 1.3em;
                    }

                    &:hover {
                        background-color: black;
                        h3,i {
                            color: #FFB135 !important;
                        }
                    }
                }
            }
        }
    }
}
