.searchComponent_mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    .filter_sideBar {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0.2em;
        margin: 0;

        .category_form {
            display: block;
            align-items: center;
            box-shadow: none;
            background-color: transparent;
            padding: 0;
            margin-left:1em;

            .category_input {
                border: none;
                height: 25px;
                min-width: 0px;
                border-radius: 0.5em;
                margin: 0px;
                border: 2px solid #dadada;
                padding-right: 0.5em;
            }
        }
    }
}