.businessCard_Container {
    display: flex;
    flex-flow: row;
    background-color: #e1e1e1;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
    width: 50em;


    .businessCard_imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .businessCard_img {
            background-color: black;
            height: 20em;
            width: 20em;
        }
    }

    .businessCard_infoContainer {
        display: flex;
        flex-flow: column;
        text-transform: capitalize;
        padding-left: 2em;
        padding-bottom:3em;
        min-width: 24em;
        position: relative;
        flex:1;

        .businessCard_infoContainer_Header {
            display: flex;
            min-width: 24em;
            justify-content: space-between;

        }

        .businessCard_infoContainer_Description{
            word-break: break-all;
            max-width: 90%;

        }

        .cardFooter {
            display: flex;
            justify-content: space-between;
            flex-flow: row;
            padding-top: 2em;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding-left: 2em;

            .likesContainer {
                display: flex;
                flex-flow: row;

                .likesIconCard {
                    height: 1em;
                    width: 1em;
                    padding: 0em 0.1em;
                }
            }
        }
    }

    .favorite_Container {
        display: flex;

        .favoriteIconCard {
            height: 2em;
            width: 2em;
        }
    }
}
