.signup-form {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 2em;
    .errors {
        margin-bottom: 1em;
    }

    input {
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2em;
        color: #383838;
        margin-bottom: 1em;
    }
    .policies {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
        min-width: 17em;
        input {
            margin-right: 1em;
            min-width: auto;
            width: 5em ;
        }

       strong {
            color: #ec9200;
            transition: color .2s ease;
            &:hover {
                color: black;
            }
        }
    }
    .alt-message {
        margin-top: 1em;
        text-align: center;

        strong {
            color: #ec9200;
            transition: color .2s ease;
            &:hover {
                color: black;
            }
        }

    }

    .roles {
        display: flex;

        p {
            margin: 0em 1em 2em 0;
            cursor: pointer;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                border-bottom: 2px solid #FFB135;
                transition: all 0.2s ease;
            }

            &.selected {
                &:after{
                    width: 100%;
                }
            }
        }
    }
}


