
.fileUploaderContainer {
    justify-content: flex-start;
    align-items: flex-starts;
    display: flex;
    margin-bottom: 1em;
    background-color: whitesmoke;
    padding: 1em;
    position: relative;
    width: fit-content;

    >div {
        position: relative;
        display: flex;
        flex-direction: column;

        label {
            margin-bottom:.2em !important;
        }
    }

    img {
        max-height: 10em;
        max-width: 10em;
        margin-right: .5em;
    }

    .fa-file {
        font-size: 5em;
        margin-right: .2em;
    }

    .fa-trash,.fa-check {
        position: absolute;
        bottom: 0;
        cursor: pointer;

        &.fa-trash {
            right: 0;
            color: rgb(165, 46, 46);
        }

        &.fa-check {
            left: .5em;
            color: rgb(35, 109, 35);
        }

    }

}

.fileUploader-busy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: .4;
    z-index: 1;
}
